@charset "UTF-8";

/*Estilos para impressoras */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* o menu não vai aparacer quando for pra "imprimir"*/
menu {
    display: none;
}


article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}